body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 400px;
    background-color: white;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

.language {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
    font-size: 18px;
}

.language img {
    width: 20px;
    margin-left: 5px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.buttons a {
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: white;
    color: black;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.buttons a:hover {
    background-color: black;
    color: white;
}

.info {
    margin-bottom: 20px;
}

.info p {
    font-size: 16px;
    line-height: 1.5;
    margin: 5px 0;
    font-weight: bold;
}

.info span {
    font-weight: normal;
}

.sinopsis {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
}
